{% load static %}
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Funcionário</title>

    <link rel="stylesheet" href="{% static "css/cadastroFuncionario/style.css" %}" />
</head>
<body>
    <header id="header_one">
        <h1>SGE</h1>
        <div class="icon_menu"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45" fill="none">
            <path d="M7.5 22.5H37.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7.5 11.25H37.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7.5 33.75H37.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg></div>
        <div class="avatar"><img src="{% static "imagens/Ellipse.png" %}" alt=""></div>
    </header>

    <main>
        <div class="main_menu" id="register_employee">
            <div class="group1">
                <div class="avatar"><img src="{% static "imagens/Ellipse.png" %}" alt=""></div>
                <h2>Olá, Luís</h2>
                <h3>Online</h3>
            </div>
            <div class="menu">
                <ul class="grid">
                  <li><a class="item" href="homeEmployee.html">Área do Professor</a></li>
                  <li><a class="item" href="management.html">Coordenação</a></li>
                  <li><a class="item" href="index.html">Sair</a></li>
                </ul>
            </div>
        </div>

        <section class="register" >
            <div class="container" id="employee">
                <div class="Rectangle_01">
                <div class="titlle">Cadastrar Funcionário</div>
            </div>

            <div class="information" id="employee">
                <h1>Informações Pessoais<span>*</span></h1>

                    <div class="name">
                        <h2>Nome</h2>
                        <input type="text">
                    </div>

                    <div class="Date_of_Birth" id="box_two">
                        <h2>Data de Nascimento</h2>
                        <input type="text">
                    </div>

                    <div class="Sex" id="box_two">
                        <h2>Sexo</h2>
                        <input type="text">
                    </div>

                    <div class="CPF">
                        <h2>CPF</h2>
                        <input type="text">
                    </div>

                    <div class="Contact_Phone" id="box_two">
                        <h2>Telefone Para Contato</h2>
                        <input type="text">
                    </div>

                    <div class="E-mail" id="box_two">
                        <h2>E-mail</h2>
                        <input type="text">
                    </div>

                    <div class="occupation_area" id="box_two">
                        <h2>Área de atuação</h2>
                        <input type="text">
                    </div>

                    <div class="append">
                        <h2>Experiência Profissional<span>*</span></h2>
                        <div class="textarea">
                            <p>Anexar histórico</p>
                            <a class="icon_plus"href="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12 8V16" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M8 12H16" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </a>
                        </div>
                    </div>
            </div>
            
            <div class="section">
                <img src="{% static "imagens/Logo-SistemaDeEnsino.png" %}imagens/Logo-SistemaDeEnsino.png" alt="">
            </div>
            
        </section>
    </main>

</body>
</html>